@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
  }
  body {
    background: #fff !important;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }
  * a {
    text-decoration: none;
    color: #151515;
  }
  .pinterest {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0.938rem;
  }
  .left {
    display: flex;
    align-items: center;
    width: 20%;
  }
  .left .logo {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left .logo:hover {
    background-color: #e5e5e5;
  }
  .left .logo i {
    color: #e60022;
    font-size: 24px;
  }
  .left .create {
    font-weight: bold;
    height: 3rem;
    color: #151515;
    padding: 1rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.563rem;
  }
  .left .home {
    font-weight: bold;
    height: 3rem;
    color: #fff;
    padding: 1rem;
    background-color: #151515;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.563rem;
  }
  .avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .avatar .img {
    height: 2rem;
    width: 2rem;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }
  .avatar .img img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .search {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-radius: 25px;
    overflow: hidden;
    background: #e3e3e3;
  }
  .search:hover {
    background: #c9c9c9;
  }
  .search i {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #767676;
  }
  .search input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    padding-right: 1rem;
  }
  .search input::placeholder {
    color: #767676;
    font-size: 1rem;
  }
  .right {
    width: 20%;
    display: flex;
    align-items: center;
  }
  .items {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .items:hover {
    background: #e5e5e5;
  }
  .items i {
    font-size: 1rem;
    color: #767676;
  }
  .items-down {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
  }
  .items-down:hover {
    background: #e5e5e5;
  }
   

/* profile  */
#algn {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    width: 370px;
    height: 435px;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 #E7E9EB, 0 6px 20px 0 #E7E9EB;
}

#upper-bg {
    width: 100%;
    height: 35%;
    background-color: #f30d19;
    display: flex;
    justify-content: center;
    position: relative;
}

.profile-pic {
    width: 35%;
    background-color: white;
    border: 3px solid #f30d19;
    border-radius: 50%;
    padding: 3px;
    position: absolute;
    top: 40px;
}

#lower-bg {
    width: 100%;
    height: 65%;
}

.text {
    text-align: center;
    padding-top: 35px;
}

.text .name {
    font-weight: 600;
    font-size: large;
    padding: 0;
    margin: 5px;
}

.text .title {
    padding: 0;
    margin: 0;
    font-size: 15px;
}

#icons {
    display: flex;
    justify-content: center;
    margin: 15px;
}

#icons img {
    width: 80%;
    height: 90%;
}

.ico {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    display: flex;
    justify-content: center;
    margin: 15px;
}

#btn a {
    margin: 0 20px;
    padding: 10px 15px;
    background-color: #f30d19;
    color: white !important;
    border: none;
    border-radius: 50px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

#btn a:hover {
    box-shadow: 0 4px 8px 0 #E7E9EB, 0 6px 20px 0 #E7E9EB;
}

/* modal */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 25rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #f30d19;
    color: white;
}

.close-button:hover {
    background-color: #df0812;
}

.modal-content form {
    width: 90%;
    padding: 20px 0px;
}

.detail {
    width: 100%;
    height: 25px;
    margin: 5px;
    padding: 13px 10px;
    font-size: 15px;
    color: gray;
    border: 2px solid rgb(218, 214, 214);
    border-radius: 15px;
}

[type="file"]::-webkit-file-upload-button {
    background-color: #f30d19;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 8px !important;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.int {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.int {
    margin: 0 45%;
    padding: 12px 15px;
    background-color: #f30d19;
    color: white !important;
    border: none;
    border-radius: 50px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* profile posts  */

.container {
    width: 1280px;
    margin: 0px auto;
    position: relative;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0px 20px;
    position: absolute;

}

.card {
    height: fit-content;
    position: relative;
}

.img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.caption {
    margin-top: 0px;
    font-weight: 500;
}